<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.semicolon.eslamy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.HomeActivity" />
        <activity android:name=".Activities.OtherActivity" />
        <activity android:name=".Activities.LanguageActivity" />
        <activity android:name=".Activities.VideoActivity" />
        <activity android:name=".Activities.WebViewActivity" />
        <activity android:name=".Activities.DetailsActivity" />
        <activity android:name=".Activities.AdvistorsActivity" />
        <activity android:name=".Activities.QuestionActivity" />
        <activity android:name=".Activities.AnswerActivity"></activity>
    </application>

</manifest>